appdirs==1.4.4
audioread==3.0.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==3.1.0
decorator==5.1.1
idna==3.4
importlib-metadata==6.1.0
joblib==1.2.0
lazy-loader==0.2
librosa==0.10.0.post2
llvmlite==0.39.1
msgpack==1.0.5
numba==0.56.4
numpy==1.23.5
packaging==23.0
pandas==1.5.3
pooch==1.6.0
pycparser==2.21
python-dateutil==2.8.2
pytz==2023.2
requests==2.28.2
scikit-learn==1.2.2
scipy==1.10.1
six==1.16.0
soundfile==0.12.1
soxr==0.3.4
threadpoolctl==3.1.0
typing-extensions==4.5.0
urllib3==1.26.15
zipp==3.15.0
